@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutaModel
@{
  var ruta = Model.Ruta;
}

<div class="text-center">
  <form method="POST">

    <label for="AeropuertoOringen" class="form-label">Aeropuerto de origen:</label>
    @*<input type="text" class="form-control" id="AeropuertoOrigen" placeholder="Origen" asp-for="@ruta.Origen">*@

    <select asp-for="@ruta.Origen" class="form-control">
      <option value="">Seleccionar un aeropuerto</option>
      @foreach (var aeropuerto in Model.Aeropuertos)
      {
        <option value="@aeropuerto.Id">@aeropuerto.Nombre - @aeropuerto.Ciudad/@aeropuerto.Pais</option>
      }
    </select>

    <label for="AeropuertoDestino" class="form-label">Aeropuesto de destino:</label>

    <select asp-for="@ruta.Destino" class="form-control">
      <option value="">Seleccionar un aeropuerto</option>
      @foreach (var aeropuerto in Model.Aeropuertos)
      {
        <option value="@aeropuerto.Id">@aeropuerto.Nombre - @aeropuerto.Ciudad/@aeropuerto.Pais</option>
      }
    </select>
    <label for="TiempoEstimado" class="form-label">Tiempo de vuelo estimado:</label>
    <input type="number" class="form-control" id="TiempoEstimado" placeholder="Horas" asp-for="@ruta.Tiempo_Estimado">
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>