@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutaModel
@{
}
<link rel="stylesheet" href="~/css/Tablas.css" />
<div class="container">
<h1>Listado de Rutas</h1>
<table class="table">

  <thead>
    <tr>
      <th>ID</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Tiempo Estimado</th>
    </tr>
  </thead>
  @foreach (var ruta in Model.Rutas)
  {
    <tbody>
      <tr>
        <td>@ruta.Id</td>
        <td>@ruta.Origen.Nombre</td>
        <td>@ruta.Destino.Nombre</td>
        <td>@ruta.Tiempo_Estimado</td>
        <td>
          <form method="POST">
            <a class="btn btn-info" asp-page="./Details" asp-route-rutaId="@ruta.Id" title="Ver detalles"><i
              class="fas fa-list-alt"></i></a>
            <a class="btn btn-info" asp-page="./Edit" asp-route-rutaId="@ruta.Id" title="Editar"><i
              class="fas fa-edit"></i></a>
            <input type="number" class="d-none" id="eliminar" asp-for="@ruta.Id" >
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash" title="Eliminar"></i></button>
          </form>
        </td>
      </tr>
    </tbody>
  }
</table>
</div>
