@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAvionModel
@{
}

<h1>Listado de Aviones</h1>
<table class="table">
  @foreach (var avion in Model.Aviones)

  {
    <tr>
      <td>@avion.Id</td>
      <td>@avion.Marca</td>
      <td>@avion.Modelo</td>
      <td>@avion.Numero_asientos</td>
      <td>@avion.Numero_banos</td>
      <td>@avion.Capacidad_maxima</td>
      <td>
        <a class="btn btn-info" asp-page="./Details" asp-route-AvionId="@avion.Id"><i class="fas fa-adjust"></i>Ver</a>
        <a class="btn btn-info" asp-page="./Edit" asp-route-avionId="@avion.Id"><i class="fas fa-adjust"></i>Editar</a>
        <a class="btn btn-danger" href="">Eliminar</a>
      </td>
    </tr>

  }
</table>
