@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAvionModel
@{
}

<link rel="stylesheet" href="~/css/Tablas.css" />
<div class="container">
<h1>Listado de Aviones</h1>
<table class="table">

  <thead>
    <tr>
      <th>ID</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th># Asientos</th>
      <th>#Baños</th>
      <th>Capacidad máxima</th>
    </tr>
  </thead>
  @foreach (var avion in Model.Aviones)
  {
    <tbody>
      <tr>
        <td>@avion.Id</td>
        <td>@avion.Marca</td>
        <td>@avion.Modelo</td>
        <td>@avion.Numero_asientos</td>
        <td>@avion.Numero_banos</td>
        <td>@avion.Capacidad_maxima</td>
        <td>
           <form method="POST">
            <a class="btn btn-info" asp-page="./Details" asp-route-avionId="@avion.Id" title="Ver detalles"><i
              class="fas fa-list-alt"></i></a>
            <a class="btn btn-info" asp-page="./Edit" asp-route-avionId="@avion.Id" title="Editar"><i
              class="fas fa-edit"></i></a>
            <input type="number" class="d-none" id="eliminar" asp-for="@avion.Id" >
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash" title="Eliminar"></i></button>
          </form>
        </td>
      </tr>
    </tbody>
  }
</table>
