@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAvionModel
@{
}
<link rel="stylesheet" href="~/css/List.css" />
<script src="~/js/List.js"></script>

<div class="container">
<h1 style="text-align: center;">Listado de Aviones</h1>
<table class="myTable">
<thead>       
			<tr>
				<th>ID</th>
				<th>Marca</th>
				<th>Modelo</th>
				<th>Numero de Asientos</th>
        <th>Numero de Baños</th>
        <th>Capasidad Maxima</th>
				<th>
			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
				</th>

		  </tr>
		</thead>
		<tbody>
  @foreach (var avion in Model.Aviones)

  {
    <tr>
      <td>@avion.Id</td>
      <td>@avion.Marca</td>
      <td>@avion.Modelo</td>
      <td>@avion.Numero_asientos</td>
      <td>@avion.Numero_banos</td>
      <td>@avion.Capacidad_maxima</td>
      <td>
        
        <form method="POST">
             <a class="btn btn-info" asp-page="./Details" asp-route-avionId="@avion.Id"><i class="fas fa-list-alt"></i></a>
             <a class="btn btn-info" asp-page="./Edit" asp-route-avionId="@avion.Id"><i class="fas fa-edit"></i></a>
               <input type="number" class="d-none" id="eliminar" asp-for="@avion.Id">
                        <button type="submit" class="btn btn-danger" ><i class="fas fa-trash" ></i></button>
            </form>
      </td>
    </tr>

  }
</table>
