@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAeropuertoModel
@{
}

<h1>Listado de Aeropuertos</h1>
<table class="table">
  @foreach (var aeropuerto in Model.Aeropuertos)

  {
    <tr>
      <td>@aeropuerto.Id</td>
      <td>@aeropuerto.Nombre</td>
      <td>@aeropuerto.Ciudad</td>
      <td>@aeropuerto.Latitud_y</td>
      <td>@aeropuerto.Longitud_x</td>     
      <td>
        <a class="btn btn-info" asp-page="./Details" asp-route-AeropuertoId="@aeropuerto.Id"><i class="fas fa-adjust"></i>Ver</a>
        <a class="btn btn-info" asp-page="./Edit" asp-route-aeropuertoId="@aeropuerto.Id"><i class="fas fa-adjust"></i>Editar</a>
         <form method="POST">
            <input type="number" class="d-none" id="Id" asp-for="@aeropuerto.Id">
              <button type="submit"class="btn btn-danger">Eliminar</button>
            </form>
      </td>
    </tr>

  }
</table>
